@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
    /*Primary*/
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    /*Neutral*/
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    /*Figma*/
    --white-background: #f2f2f2;
    --light-gray: rgba(0, 0, 0, 0.15);
    --the-lightest-gray: rgba(0, 0, 0, 0.0497193);
    --button-opacity: #979797;
    --btn-bookmarked: rgba(20, 122, 115, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner", sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--white-background);
}

.container {
    padding-bottom: 216px;
    width: 100%;
}

header {
    background: url("images/image-hero-desktop.jpg");
    background-size: cover;
    height: 400px;
}

.nav-logo {
    padding: 50px 165px 0 165px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo-background {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
}

nav {
    display: inline-block;
    color: white;
}

li {
    display: inline;
    padding-left: 32px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.logo-m {
    position: absolute;
    top: -28px;
    left: 337px;
}

main {
    position: relative;
    max-width: 730px;
    margin: -92px auto;
    border-radius: 8px;
}

.main-header,
.progress-bar-section,
.aside-section {
    border: 1px solid var(--the-lightest-gray);
    border-radius: 8px;
    padding: 0 48px;
    background-color: white;
}

.aside-section {
    position: relative;
    left: 35px;
}

.main-header h1 {
    padding-top: 56px;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 15px;
}

p {
    color: var(--dark-gray);
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}

.buttons {
    margin: 40px 0px 48px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border-radius: 33.5px;
    color: white;
}

.button-back {
    font-size: 16px;
    line-height: 20px;
    background-color: var(--dark-cyan);
    padding: 18px 40px;
}

.bookmark {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    padding: 0px;
    padding-right: 24px;
    color: var(--dark-gray);
    background-repeat: no-repeat;
    background-color: var(--the-lightest-gray);
}

button svg {
    margin-right: 16px;
}

.bookmark svg path {
    fill: white;
}

.bookmarked {
    color: var(--dark-cyan);
    background: var(--btn-bookmarked);
}

.bookmarked svg circle {
    fill: var(--dark-cyan);
}

.bookmarked svg path {
    fill: white;
}

.main-header {
    margin-bottom: 24px;
}

.progress-bar-section {
    padding: 40px 59px 57px 37px;
    margin-bottom: 34px;
}

.progress-bar-info {
    display: flex;
    gap: 47px;
    color: var(--dark-gray);
    font-size: 15px;
}

.progres-item {
    width: 28.3%;
    border-right: 1px solid var(--light-gray);
    margin-bottom: 37px;
}

.progres-item:last-child {
    border-right: 0px;
}

.progres-item .big-number {
    padding-bottom: 8px;
}

.progress-chart {
    background-color: var(--the-lightest-gray);
    border-radius: 33.5px;
}

.progress-width {
    background-color: var(--moderate-cyan);
    width: 89.914%;
    height: 12px;
    border-radius: 33.5px;
}

.big-number {
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
}

h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 35px;
    margin-top: 48px;
}

.selection {
    margin-top: 40px;
    padding-bottom: 48px;
}

.choice {
    padding: 38px 32px 32px 32px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    margin-bottom: 24px;
}

.choice:last-child {
    margin-bottom: 0px;
}

.choice-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
}

.pledge {
    text-align: right;
    color: var(--moderate-cyan);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}

.number-left {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
}

.number-left span {
    margin-right: 8px;
    vertical-align: text-top;
}

.number-left p {
    vertical-align: text-top;
    line-height: 16px;
}

.number-left button {
    background-color: var(--moderate-cyan);
    padding: 15px 32px;
}

.number-left button:hover {
    background-color: var(--dark-cyan);
}

.choice.out-of-stock {
    opacity: 0.5;
}

button.out-of-stock,
button.out-of-stock:hover {
    padding: 15px 38px;
    font-weight: 500;
    background-color: var(--button-opacity);
    cursor: default;
}

.hidden {
    display: none;
}

.unvisible {
    visibility: hidden;
}

.overlay {
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 5;
}

.modal {
    position: fixed;
    background-color: white;
    padding: 48px;
    border-radius: 8px;
    z-index: 10;
}

.modal h1 {
    font-size: 24px;
    line-height: 30px;
}

.overlay-mobile {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    mix-blend-mode: normal;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}


/*-------------------------------*/


/*SELECTION MODAL*/

.selection-modal {
    position: absolute;
    top: 184px;
    left: 50%;
    transform: translateX(-50%);
    width: 730px;
    text-align: left;
}

.close-img svg path {
    opacity: 1;
    fill: var(--button-opacity);
}

.close-img {
    position: absolute;
    cursor: pointer;
    left: 684px;
}

.selection-modal h1 {
    margin-bottom: 16px;
}

.selection-modal p {
    margin-bottom: 32px;
    padding: 0px 28px 0 28px;
}

.selection-modal>p {
    margin-bottom: 32px;
    padding-left: 0;
}

.selection-modal .number-left {
    margin: 0;
    vertical-align: center;
    justify-content: flex-end;
}

.selection-modal .number-left p {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
}

.selection-modal .choice {
    justify-items: space-;
    padding: 0;
    position: relative;
}

.selection-modal .choice.active {
    /*TODO: add this class to active checkbox*/
    border: 2px solid var(--moderate-cyan);
}


/*------------------------------------------*/


/* The radio-content */

.radio-content {
    display: block;
    position: relative;
    padding-left: 48px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.radio-content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 35px;
    left: 28px;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--light-gray);
}

.radio-content:hover input~.checkmark {
    border: 1px solid var(--moderate-cyan);
}

.radio-content input:checked~.checkmark {
    background-color: white;
    border: 1px solid var(--light-gray);
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio-content input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio-content .checkmark:after {
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--moderate-cyan);
}

.radio-content .unchecked .checkmark:after {
    background: white;
}

.radio-content.out-of-stock {
    cursor: default;
}

.radio-content.out-of-stock:hover input~.checkmark {
    border: 1px solid var(--light-gray);
}

.radio-content.out-of-stock .checkmark:after {
    background: white;
}


/*------------------------------------------*/

.selection-modal .number-left {
    flex: 2;
}

.selection-modal h3 {
    margin-right: 16px;
    cursor: pointer;
}

.selection-modal h3:hover {
    color: var(--moderate-cyan);
}

.radio-content:hover .pledge {
    font-weight: 700;
}

.radio-content.out-of-stock:hover .pledge {
    font-weight: 500;
}

.selection-modal .choice.out-of-stock h3:hover {
    color: inherit;
    cursor: default;
}

.selection-modal .big-number {
    font-size: 18px;
    line-height: 18px;
}

.selection-modal .choice-title {
    align-items: center;
    margin-bottom: 17px;
    padding: 32px 28px 0 28px;
}

.enter-pledge {
    margin-top: 32px;
    padding-top: 24px;
    display: flex;
    border-top: 1px solid var(--light-gray);
    align-items: center;
    padding-bottom: 24px;
}

.visibility {
    display: none;
}

.enter-pledge p {
    flex: 1;
    margin-bottom: 0;
}

.enter-flex {
    display: flex;
    flex-direction: row;
}

.selection-modal button {
    background-color: var(--moderate-cyan);
    font-weight: 500;
    padding: 15px 24px;
    font-size: 14px;
    line-height: 17px;
    margin-right: 28px;
}

input {
    border-radius: 33.5px;
    margin-right: 16px;
    padding: 15px 24px 16px 24px;
    outline: none;
    border: 1px solid var(--light-gray);
    width: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.choice.active input {
    border: 1px solid var(--moderate-cyan);
}

.choice.active .pledge {
    font-weight: 700;
}

.choice.active .choice.out-of-stock input:hover {
    border: 1px solid var(--light-gray);
    cursor: default;
}

.input-dolar {
    position: relative;
}

.input-dolar:before {
    position: absolute;
    top: 2px;
    content: "$";
    font-size: 14px;
    font-weight: 700;
    left: 24px;
    opacity: 0.25;
    line-height: 17px;
}

.input-dolar input {
    padding-left: 41px;
}


/*-------------------------------*/


/*SUCCESS MODAL*/

.success-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    text-align: center;
}

.success-modal img {
    width: 90px;
}

.success-modal h1 {
    margin-top: 48px;
    margin-bottom: 16px;
    text-align: center;
}

.success-modal p {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: var(--dark-gray);
    margin-bottom: 32px;
}

.success-modal button {
    background-color: var(--moderate-cyan);
    padding: 15px 32px;
}

.success-modal button:hover {
    background-color: var(--dark-cyan);
}

.enter-pledge button:hover {
    background-color: var(--dark-cyan);
}

button.out-of-stock,
button.out-of-stock:hover {
    padding: 15px 32px;
    font-weight: 500;
    background-color: var(--button-opacity);
    cursor: default;
}

.btn-mobile {
    display: none;
}

.number-left-mob {
    display: none;
}

.menu-mob {
    display: none;
}


/*-------------------------------*/


/*MENU modal*/

.menu-modal {
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    width: 327px;
    text-align: center;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    z-index: 10;
    color: black;
}

.menu-modal nav {
    display: block;
    color: black;
}

.menu-modal li {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: black;
    text-align: left;
    padding: 24px;
    border-bottom: 1px solid var(--the-lightest-gray);
}

.menu-modal a {
    color: black;
}

.menu-modal li a {
    text-decoration: none;
}

.menu-modal li a:hover {
    text-decoration: underline;
}

.close-menu {
    position: absolute;
    top: -55px;
    right: 0px;
    cursor: pointer;
}

.logo-mob {
    position: absolute;
    top: -55px;
    left: 0px;
}

@media screen and (max-width: 1020px) {
    .nav-logo {
        max-width: 690px;
        padding: 50px 0px 0px 0px;
    }
}

@media screen and (max-width: 830px) {
    .aside-section {
        left: 0;
    }
}

@media screen and (max-width: 750px) {
    .zindex {
        z-index: 20;
    }
    header {
        background: url("images/image-hero-mobile.jpg");
        background-position: center;
        height: 300px;
    }
    .nav-logo {
        padding: 32px 0px 0px 0px;
        margin: 0 24px;
    }
    .menu {
        display: none;
    }
    .menu-mob {
        display: block;
        cursor: pointer;
    }
    .logo-m {
        left: 222px;
    }
    main {
        max-width: 500px;
    }
    .main-header h1 {
        font-size: 20px;
        line-height: 24px;
        padding: 52px 12px 0px 12px;
    }
    .main-header {
        padding: 0 24px;
    }
    .main-header p {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    .buttons {
        margin-top: 24px;
        gap: 9px;
        flex: 1;
        margin-bottom: 40px;
    }
    .button-back {
        font-size: 15px;
        padding: 17px 42px;
    }
    .progress-bar-section {
        margin-bottom: 24px;
    }
    .progress-bar-info {
        gap: 24px;
    }
    .progres-item {
        padding-right: 15px;
    }
    .progres-item:first-child {
        width: 45%;
    }
    .selection-modal {
        width: 500px;
    }
    .close-img {
        left: 434px;
    }
    .selection-modal .number-left {
        display: none;
    }
    .number-left p {
        font-size: 15px;
        line-height: 18px;
        margin: 0;
    }
    .number-left-mob {
        display: block;
    }
    .number-left-mob p {
        display: block;
        font-size: 15px;
        line-height: 18px;
    }
    .number-left-mob .big-number {
        margin-right: 8px;
    }
    .selection-modal .choice-title {
        flex-direction: column;
        /* padding-left: 16px; */
        align-items: flex-start;
    }
    .enter-pledge {
        flex-direction: column;
    }
    .enter-flex {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .selection-modal button {
        margin-right: 0;
    }
    .enter-pledge p {
        margin-bottom: 16px;
        padding-left: 0;
        padding-right: 0;
    }
    .success-modal {
        max-width: 500px;
    }
    main {
        margin: -52px auto;
    }
}

@media screen and (max-width: 550px) {
    .selection-modal {
        width: 327px;
    }
    .success-modal {
        max-width: 327px;
    }
    .close-img {
        left: 288px;
    }
    main {
        max-width: 327px;
    }
    .logo-m {
        left: 135px;
    }
    button svg {
        margin-right: 0px;
    }
    .btn-mobile {
        display: block;
    }
    .bookmark {
        display: none;
    }
    .bookmarked-mob svg circle {
        fill: var(--dark-cyan);
    }
    .bookmarked-mob svg path {
        fill: white;
    }
    .progress-bar-section {
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .progress-bar-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0px;
    }
    .progres-item,
    .progres-item:first-child {
        padding-right: 0px;
        width: 100%;
        border-right: 0px;
        margin-bottom: 24px;
    }
    .progres-small {
        font-size: 14px;
    }
    .progres-item:after {
        display: block;
        clear: both;
        content: "";
        position: relative;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 80px;
        border-bottom: 1px solid var(--light-gray);
        margin: 0 auto;
        padding-top: 24px;
    }
    .progres-item:last-child:after {
        border-bottom: 0px;
    }
    .progres-item:last-child {
        margin-bottom: 8px;
    }
    .aside-section {
        padding: 0 24px 0 24px;
    }
    .aside-section h2 {
        margin: 40px 0 24px 0;
    }
    .about p {
        font-size: 14px;
        line-height: 24px;
    }
    .selection {
        margin: 35px 0px 40px 0px;
        padding-bottom: 0px;
    }
    .container {
        padding-bottom: 176px;
    }
    .choice {
        padding: 24px;
    }
    .choice h3,
    .choice .pledge {
        font-size: 14px;
        line-height: 17px;
    }
    .choice-title {
        flex-direction: column;
        gap: 8px;
    }
    .pledge {
        text-align: left;
    }
    .number-left {
        flex-direction: column;
        margin-top: 24px;
        gap: 24px;
        align-items: flex-start;
    }
    .selection-modal {
        padding: 24px;
    }
    .selection-modal h1 {
        font-size: 18px;
        margin-bottom: 24px;
    }
    .selection-modal p {
        padding-right: 0;
        font-size: 14px;
        margin-bottom: 24px;
    }
    .radio-content {
        padding-left: 24px;
    }
    .selection-modal .choice-title {
        padding-top: 24px;
        padding-left: 64px;
    }
    .selection-modal .choice-title h3 {
        margin-left: 0;
    }
    .special-title {
        margin-top: 10px;
    }
    .checkmark {
        top: 32px;
    }
    .radio-content {
        padding-left: 0px;
    }
    .radio-content p {
        padding: 0px 24px 0 24px;
        line-height: 24px;
    }
    .radio-content h3 {
        margin-left: 16px;
    }
    .checkmark {
        left: 24px;
    }
    .enter-pledge p {
        margin-bottom: 16px;
        padding-left: 0;
    }
    .success-modal {
        padding: 24px;
    }
    .success-modal h1 {
        margin: 24px 0px 24px 0;
        font-size: 18px;
        line-height: 22px;
    }
    .success-modal img {
        width: 64px;
        height: 64px;
    }
    .success-modal p {
        font-size: 14px;
        line-height: 24px;
    }
    .success-modal button {
        margin-bottom: 16px;
    }
}